<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mysql.namedlock.common.distributelock.dao.NamedLockDao">
    <select id="getLock" parameterType="String" resultType="integer">
        SELECT GET_LOCK(#{key}, 9)
    </select>

    <select id="releaseLock" parameterType="String" resultType="integer">
        SELECT RELEASE_LOCK(#{key})
    </select>
</mapper>